@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
  -webkit-tap-highlight-color: transparent;
}

*::after, *::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.wrapper {
  width: 100vw;
  min-height: 100vh;
  background: var(--background);
  color: var(--textH);
}

.wrapper .content {
  width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.wrapper .content #clock {
  margin-top: 45px;
}

.wrapper .content #clock .time {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.wrapper .content #clock .time #hours,
.wrapper .content #clock .time #minutes {
  font-size: 3.2rem;
}

.wrapper .content #clock .time #hours {
  position: relative;
}

.wrapper .content #clock .time #hours:after {
  content: ':';
  position: relative;
  right: 0;
  -webkit-animation: blink 1s linear infinite;
          animation: blink 1s linear infinite;
}

@-webkit-keyframes blink {
  0%, 100% {
    opacity: 0.1;
  }
  50% {
    opacity: 1;
  }
}

@keyframes blink {
  0%, 100% {
    opacity: 0.1;
  }
  50% {
    opacity: 1;
  }
}

.wrapper .content #clock .time #tff {
  color: var(--textM);
  text-transform: uppercase;
  position: relative;
  bottom: -0.85rem;
  left: 0.5rem;
  font-size: 0.9rem;
}

.wrapper .content #clock #date {
  text-align: center;
  color: var(--textM);
  font-size: 0.9rem;
}

.wrapper .content #clock .analog-clock {
  margin-top: 50px;
  height: 12rem;
  width: 12rem;
  background: var(--clockbg);
  border-radius: 50%;
  position: relative;
  -webkit-box-shadow: 0px 10px 30px var(--bshadow);
          box-shadow: 0px 10px 30px var(--bshadow);
}

.wrapper .content #clock .analog-clock::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  height: 10px;
  width: 10px;
  border-radius: 50%;
  background: #848484;
  z-index: 3;
}

.wrapper .content #clock .analog-clock #hour-hand {
  position: absolute;
  top: 2.93rem;
  left: 5.88rem;
  -webkit-transform-origin: bottom;
          transform-origin: bottom;
  height: 50px;
  width: 4px;
  border-radius: 8px;
  background: #ff105e;
}

.wrapper .content #clock .analog-clock #minute-hand {
  position: absolute;
  top: 2.3rem;
  left: 5.88rem;
  -webkit-transform: translate(-19%, -50%);
          transform: translate(-19%, -50%);
  height: 60px;
  width: 3px;
  border-radius: 6px;
  background: #18c3f8;
  -webkit-transform-origin: bottom;
          transform-origin: bottom;
  z-index: 1;
}

.wrapper .content #clock .analog-clock #second-hand {
  position: absolute;
  top: 1.68rem;
  left: 5.95rem;
  -webkit-transform: translate(-14%, -50%);
          transform: translate(-14%, -50%);
  height: 70px;
  width: 2px;
  border-radius: 4px;
  background: #d6d6d6;
  -webkit-transform-origin: bottom;
          transform-origin: bottom;
  z-index: 2;
}

.wrapper footer {
  position: fixed;
  bottom: 5vw;
}

.wrapper footer nav ul {
  width: calc(100vw - 20px);
  margin: 0 10px;
  background: var(--foreground);
  border-radius: 15px;
  -webkit-box-shadow: 0px 6px 18px var(--bshadow);
          box-shadow: 0px 6px 18px var(--bshadow);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.wrapper footer nav ul li {
  list-style: none;
  width: 100%;
  margin: 10px 0;
}

.wrapper footer nav ul li .icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 5px 0;
}

.wrapper footer nav ul li .icon img {
  height: 35px;
  width: 35px;
}

.wrapper footer nav ul li h5 {
  text-transform: uppercase;
  font-weight: 400;
  text-align: center;
  font-size: 0.7rem;
}

.settings {
  background: var(--background);
  color: var(--textH);
  min-height: 100vh;
  -webkit-transition: 0.75s ease-out;
  transition: 0.75s ease-out;
}

.settings header {
  text-align: center;
  padding: 1rem 0;
}

.settings .settings-content .block {
  background: var(--foreground);
  -webkit-box-shadow: 0px 4px 10px var(--bshadow);
          box-shadow: 0px 4px 10px var(--bshadow);
  border-radius: 15px;
  margin: 1rem 0.4rem;
  padding: 1rem;
}

.settings .settings-content .block p {
  text-transform: uppercase;
  font-size: 0.85rem;
  color: var(--textM);
  border-bottom: 1px solid var(--border);
  padding-bottom: 0.5rem;
}

.settings .settings-content .block .block-options {
  margin-top: 1rem;
}

.settings .settings-content .block .block-options .label {
  font-size: 0.9rem;
  cursor: pointer;
  color: var(--textH);
}

.settings .settings-content .block .block-options input {
  display: none;
}

.settings .settings-content .block .block-options .toggle {
  cursor: pointer;
  height: 23px;
  width: 45px;
  border-radius: 23px;
  background: var(--toggleBg);
  position: absolute;
  right: 1rem;
}

.settings .settings-content .block .block-options .toggle::after {
  content: '';
  position: absolute;
  left: 0;
  height: 23px;
  width: 23px;
  border-radius: 50%;
  background: #fff;
  border: 2px solid var(--toggleBg);
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.settings .settings-content .block .block-options input:checked + .toggle {
  background: var(--toggleBga);
}

.settings .settings-content .block .block-options input:checked + .toggle::after {
  left: 23px;
  border: 2px solid var(--toggleBga);
}

#background {
  min-height: 100vh;
  width: 100vw;
  position: relative;
}

#weather .weather-card,
#weather .future-forecast,
#weather .current-details {
  background: var(--foreground);
  background: transparent;
  border-radius: 15px;
  padding: 0 1rem;
  margin: 1rem 0.5rem;
}

#weather .future-forecast,
#weather .current-details {
  position: relative;
  -webkit-backdrop-filter: blur(40px);
          backdrop-filter: blur(40px);
  background-color: rgba(255, 255, 255, 0.15);
  border: 1px solid rgba(255, 255, 255, 0.09);
}

#weather .weather-card {
  background: transparent;
  margin-top: -1rem;
  padding-top: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#weather .weather-card #current-temperature {
  font-size: 4.5rem;
  font-weight: 100;
  position: relative;
  left: -0.5rem;
}

#weather .weather-card #current-temperature .units {
  font-size: 1.5rem;
  position: relative;
  top: -2rem;
}

#weather .future-forecast {
  margin-top: 150px;
}

#weather .future-forecast .fc-day {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1rem 0.5rem;
}

#weather .future-forecast .fc-day:not(:last-child) {
  border-bottom: 1px solid var(--wborder);
}

#weather .future-forecast .fc-day .fc-weather {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#weather .future-forecast .fc-day .fc-weather .fc-icon {
  margin-right: 1rem;
  width: 1.5rem;
}

#weather .future-forecast .fc-day .fc-weather .fc-icon img {
  max-width: 100%;
}

#weather .future-forecast .expand-fc {
  cursor: pointer;
  padding: 1rem 0;
  text-align: center;
  font-size: 0.9rem;
  z-index: 10;
}

#weather .current-details h4 {
  padding: 1rem 0;
  border-bottom: 1px solid var(--wborder);
  font-weight: 600;
}

#weather .current-details .d-row {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#weather .current-details .d-row:not(:last-child) {
  border-bottom: 1px solid var(--wborder);
}

#weather .current-details .d-row .o-detail {
  width: 100%;
  padding: 1rem 0.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#weather .current-details .d-row .o-detail:first-child {
  border-right: 1px solid var(--wborder);
}

#weather .current-details .d-row .o-detail .d-info p:first-child {
  color: var(--textM);
  font-size: 0.85rem;
}

#weather .current-details .d-row .o-detail .d-info p:nth-child(2) {
  font-size: 0.9rem;
}

#weather .current-details .d-row .o-detail .d-info .wind-speed-logo {
  display: inline-block;
  width: 0.7rem;
}

#weather .current-details .d-row .o-detail .d-info .wind-speed-logo img {
  max-width: 100%;
}

#weather .current-details .d-row .o-detail .d-icon {
  width: 1.8rem;
  margin-top: 0.5rem;
}

#weather .current-details .d-row .o-detail .d-icon img {
  max-width: 100%;
}

@media only screen and (min-width: 768px) {
  body {
    max-width: 700px !important;
  }
}
/*# sourceMappingURL=styles.css.map */