$nav-width: 70px;
$icon-width: 35px;

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    -webkit-tap-highlight-color: transparent;

    &::after,
    &::before{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
}
.wrapper{
    width: 100vw;
    min-height: 100vh;
    background: var(--background);
    color: var(--textH);

    .content{
        width: 100vw;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        #clock{
            margin-top: 45px;
            .time{
                display: flex;
                align-items: center;
                justify-content: center;
                #hours,
                #minutes{
                    font-size: 3.2rem;
                } 
                #hours{
                    position: relative;
                    &:after{
                        content: ':';
                        position: relative;
                        right: 0;
                        animation: blink 1s linear infinite;
                    }
                    @keyframes blink {
                        0%, 100%{
                            opacity: 0.1;
                        }
                        50%{
                            opacity: 1;
                        }
                    }
                }           
                #tff{
                    color: var(--textM);
                    text-transform: uppercase;
                    position: relative;
                    bottom: -0.85rem;
                    left: 0.5rem;
                    font-size: 0.9rem;
                }

            }
            #date{
                text-align: center;
                color: var(--textM);
                font-size: 0.9rem;
            }
            .analog-clock{
                margin-top: 50px;
                height: 12rem;
                width: 12rem;
                background: var(--clockbg);
                border-radius: 50%;
                position: relative;
                box-shadow: 0px 10px 30px var(--bshadow);

                &::before{
                    content: '';
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    height: 10px;
                    width: 10px;
                    border-radius: 50%;
                    background: #848484;
                    z-index: 3;
                }
                #hour-hand{
                    position: absolute;
                    top: 2.93rem;
                    left: 5.88rem;
                    transform-origin: bottom;
                    height: 50px;
                    width: 4px;
                    border-radius: 8px;
                    background: #ff105e;
                }
                #minute-hand{
                    position: absolute;
                    top: 2.3rem;
                    left: 5.88rem;
                    transform: translate(-19%, -50%);
                    height: 60px;
                    width: 3px;
                    border-radius: 6px;
                    background: #18c3f8;
                    transform-origin: bottom;
                    z-index: 1;
                }
                #second-hand{
                    position: absolute;
                    top: 1.68rem;
                    left: 5.95rem;
                    transform: translate(-14%, -50%);
                    height: 70px;
                    width: 2px;
                    border-radius: 4px;
                    background: #d6d6d6;
                    transform-origin: bottom;
                    z-index: 2;
                }
            }
        }
    }

    footer{
        position: fixed;
        bottom: 5vw;
        nav{
            ul{
                width: calc(100vw - 20px);
                margin: 0 10px;
                background: var(--foreground);
                border-radius: 15px;
                box-shadow: 0px 6px 18px var(--bshadow);
                display: flex;
                justify-content: space-between;
                li{
                    list-style: none;
                    width: 100%;
                    margin: 10px 0;

                    .icon{
                        display: flex;
                        justify-content: center; 
                        margin: 5px 0;                       
                        img{
                            height: $icon-width;
                            width: $icon-width;
                        }
                    }
                    h5{
                        text-transform: uppercase;
                        font-weight: 400;
                        text-align: center;
                        font-size: 0.7rem;
                    }
                }
            }
        }
    }    
}

//Toggle mixin
@mixin toggle {
    cursor: pointer;    
    height: 23px;
    width: 45px;
    border-radius: 23px;
    background: var(--toggleBg);
    position: absolute;
    right: 1rem;
}
@mixin toggleC {    
    left: 23px;
    border: 2px solid var(--toggleBga);
}
@mixin toggleA {
    content: '';
    position: absolute;
    left: 0;
    height: 23px;
    width: 23px;
    border-radius: 50%;
    background: #fff;
    border: 2px solid var(--toggleBg);
    transition: 0.3s;
}

.settings{
    background: var(--background);
    color: var(--textH);
    min-height: 100vh;
    transition: 0.75s ease-out;

    header{
        text-align: center;
        padding: 1rem 0;
    }
    .settings-content{
        .block{
            background: var(--foreground);
            box-shadow: 0px 4px 10px var(--bshadow);
            border-radius: 15px;
            margin: 1rem 0.4rem;
            padding: 1rem;
            
            p{
                text-transform: uppercase;
                font-size: 0.85rem;
                color: var(--textM);
                border-bottom: 1px solid var(--border);
                padding-bottom: 0.5rem;
            }
            .block-options{
                margin-top: 1rem;
                
                .label{
                    font-size: 0.9rem;
                    cursor: pointer;
                    color: var(--textH);
                }
                input{
                    display: none;
                }
                .toggle{
                    @include toggle;

                    &::after{
                        @include toggleA;
                    }
                }
                input:checked + .toggle{
                    background: var(--toggleBga);
                }
                input:checked + .toggle::after{
                    @include toggleC;
                }
            }
        }
    }
}

#background{
    min-height: 100vh;
    width: 100vw;
    position: relative;
}

#weather{
    .weather-card,
    .future-forecast,
    .current-details{
        background: var(--foreground);
        background: transparent;
        border-radius: 15px;
        padding: 0 1rem;
        margin: 1rem 0.5rem;
    }
    .future-forecast,
    .current-details{
        position: relative;
        backdrop-filter: blur(40px);
        background-color: rgba($color: #fff, $alpha: 0.15);
        border: 1px solid rgba($color: #fff, $alpha: 0.09);
    }

    .weather-card{
        background: transparent;
        margin-top: -1rem;
        padding-top: 1rem;
        display: flex;
        justify-content: space-between;

        #current-temperature{
            font-size: 4.5rem;
            font-weight: 100;
            position: relative;
            left: -0.5rem;

            .units{
                font-size: 1.5rem;
                position: relative;
                top: -2rem;
            }
        }
    }
    .future-forecast{
        margin-top: 150px;
        .fc-day{
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 1rem 0.5rem;

            &:not(:last-child){
                border-bottom: 1px solid var(--wborder);
            }
            .fc-weather{
                display: flex;
                .fc-icon{
                    margin-right: 1rem;
                    width: 1.5rem;

                    img{
                        max-width: 100%;
                    }
                }
            }
        }
        .expand-fc{
            cursor: pointer;
            padding: 1rem 0;
            text-align: center;
            font-size: 0.9rem;
            z-index: 10;
        }
    }

    .current-details{
        h4{
            padding: 1rem 0;
            border-bottom: 1px solid var(--wborder);
            font-weight: 600;
        }
        .d-row{
            width: 100%;
            display: flex;

            &:not(:last-child){
                border-bottom: 1px solid var(--wborder);
            }

            .o-detail{
                width: 100%;
                padding: 1rem 0.5rem;
                display: flex;
                justify-content: space-between;
                
                &:first-child{
                    border-right: 1px solid var(--wborder);
                }

                .d-info{
                    p{
                        &:first-child{
                            color: var(--textM);
                            font-size: 0.85rem;
                        }
                        &:nth-child(2){
                            font-size: 0.9rem;
                        }
                    }
                    .wind-speed-logo{
                        display: inline-block;
                        width: 0.7rem;
                        img{
                            max-width: 100%;
                        }
                    }
                }
                .d-icon{
                    width: 1.8rem;
                    margin-top: 0.5rem;

                    img{
                        max-width: 100%;
                    }
                }
            }
        }
    }
}

//not working
@media only screen and (min-width: 768px){
    body{
        max-width: 700px !important;
    }
}