#background {
  background: var(--weatherbg);
  overflow: hidden;
}

#background.clear {
  background: var(--weatherbg);
}

#background .weather-icon .snow-flake-icon {
  font-size: 6rem;
  font-weight: 700;
}

#background .weather-icon .snow-flake-icon::after {
  content: '\2744';
}

#background .twinkle {
  display: inline-block;
  position: absolute;
  background: #fff;
  border-radius: 50%;
  opacity: 0.5;
}

#background .twinkle {
  -webkit-animation: twinkle 1s linear infinite;
          animation: twinkle 1s linear infinite;
}

@-webkit-keyframes twinkle {
  0%, 100% {
    opacity: 0.9;
  }
  50% {
    opacity: 0.5;
  }
}

@keyframes twinkle {
  0%, 100% {
    opacity: 0.9;
  }
  50% {
    opacity: 0.5;
  }
}

#background .snowflake {
  display: inline-block;
  position: absolute;
  background: transparent;
  -webkit-animation: snowfall 8s linear infinite;
          animation: snowfall 8s linear infinite;
}

#background .snowflake::after {
  color: #fff !important;
  content: "\2744";
}

@-webkit-keyframes snowfall {
  0% {
    margin-left: -5%;
    margin-top: -100%;
  }
  25% {
    margin-left: 5%;
  }
  50% {
    margin-left: 3%;
  }
  75% {
    margin-left: 4%;
  }
  100% {
    margin-top: 100%;
  }
}

@keyframes snowfall {
  0% {
    margin-left: -5%;
    margin-top: -100%;
  }
  25% {
    margin-left: 5%;
  }
  50% {
    margin-left: 3%;
  }
  75% {
    margin-left: 4%;
  }
  100% {
    margin-top: 100%;
  }
}

#background .clouds {
  display: inline-block;
  background: #fff;
  position: absolute;
  border-radius: 200px;
  width: 200px;
  height: 60px;
  margin-top: 70px;
  -webkit-animation: moveClouds 10s linear infinite;
          animation: moveClouds 10s linear infinite;
}

#background .clouds::before, #background .clouds::after {
  content: '';
  position: absolute;
  background: inherit;
  border-radius: inherit;
  width: 100px;
  height: 80px;
  top: -15px;
  left: 10px;
  border-radius: 200px;
  -webkit-transform: rotate(30deg);
          transform: rotate(30deg);
}

#background .clouds::after {
  width: 120px;
  height: 120px;
  top: -55px;
  left: auto;
  right: 15px;
}

@-webkit-keyframes moveClouds {
  0% {
    margin-left: -100%;
  }
  100% {
    margin-left: 100%;
  }
}

@keyframes moveClouds {
  0% {
    margin-left: -100%;
  }
  100% {
    margin-left: 100%;
  }
}

#background .raindrop {
  position: absolute;
  background: #f6f6f6;
  -webkit-animation: rainfall linear infinite;
          animation: rainfall linear infinite;
}

@-webkit-keyframes rainfall {
  0% {
    margin-top: -100%;
  }
  100% {
    margin-top: 100%;
  }
}

@keyframes rainfall {
  0% {
    margin-top: -100%;
  }
  100% {
    margin-top: 100%;
  }
}

#background .thunder {
  background: #fff;
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100vw;
  -webkit-animation: thunder 7s linear infinite;
          animation: thunder 7s linear infinite;
}

@-webkit-keyframes thunder {
  0% {
    opacity: 0;
  }
  87% {
    opacity: 0;
  }
  90% {
    opacity: 0.85;
  }
  93% {
    opacity: 0.6;
  }
  95% {
    opacity: 0.7;
  }
  96% {
    opacity: 0.55;
  }
  97% {
    opacity: 0.75;
  }
  100% {
    opacity: 0;
  }
}

@keyframes thunder {
  0% {
    opacity: 0;
  }
  87% {
    opacity: 0;
  }
  90% {
    opacity: 0.85;
  }
  93% {
    opacity: 0.6;
  }
  95% {
    opacity: 0.7;
  }
  96% {
    opacity: 0.55;
  }
  97% {
    opacity: 0.75;
  }
  100% {
    opacity: 0;
  }
}

#background .fog {
  display: block;
  position: absolute;
  background: rgba(255, 255, 255, 0.7);
  border-radius: 50%;
  -webkit-animation: movefog linear infinite;
          animation: movefog linear infinite;
  opacity: 0;
  border-radius: 200px;
  -webkit-filter: blur(10px);
          filter: blur(10px);
}

#background .fog::before, #background .fog::after {
  content: '';
  position: absolute;
  background: inherit;
  border-radius: inherit;
  width: 100px;
  height: 80px;
  top: -15px;
  left: 10px;
  border-radius: 200px;
  -webkit-transform: rotate(30deg);
          transform: rotate(30deg);
}

#background .fog::after {
  width: 120px;
  height: 120px;
  top: -55px;
  left: auto;
  right: 15px;
}

@-webkit-keyframes movefog {
  0% {
    -webkit-transform: translateX(0) scale(1);
            transform: translateX(0) scale(1);
    opacity: 0;
  }
  15% {
    opacity: 0.25;
  }
  50% {
    -webkit-transform: translateX(-5vw) scale(2);
            transform: translateX(-5vw) scale(2);
  }
  95% {
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(-50vw) scale(5);
            transform: translateX(-50vw) scale(5);
  }
}

@keyframes movefog {
  0% {
    -webkit-transform: translateX(0) scale(1);
            transform: translateX(0) scale(1);
    opacity: 0;
  }
  15% {
    opacity: 0.25;
  }
  50% {
    -webkit-transform: translateX(-5vw) scale(2);
            transform: translateX(-5vw) scale(2);
  }
  95% {
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(-50vw) scale(5);
            transform: translateX(-50vw) scale(5);
  }
}

.wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  max-height: 100vh;
  overflow: scroll;
  background: transparent;
}

.wrapper #loading {
  background: linear-gradient(315deg, #3F5EFB, #FC466B);
  height: 100vh;
  width: 100vw;
  padding-top: 150px;
  text-align: center;
  font-size: 1.5rem;
  display: none;
}

.wrapper #loading span {
  font-size: 2rem;
  -webkit-animation: loading 1.5s linear infinite;
          animation: loading 1.5s linear infinite;
}

.wrapper #loading span:nth-child(2) {
  -webkit-animation-delay: 0.5s;
          animation-delay: 0.5s;
}

.wrapper #loading span:nth-child(3) {
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
}

@-webkit-keyframes loading {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes loading {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.wrapper #welcome {
  width: 100vw;
  min-height: 100vh;
  background: linear-gradient(315deg, #3F5EFB, #FC466B);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 7rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: none;
}

.wrapper #welcome .welcome-msg {
  height: 250px;
  padding: 0 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  border-radius: 15px;
  background: rgba(255, 255, 255, 0.2);
  border: 1px solid rgba(255, 255, 255, 0.05);
  -webkit-backdrop-filter: blur(40px);
          backdrop-filter: blur(40px);
  color: white;
}

.wrapper #welcome .welcome-msg img {
  max-width: 75px;
  margin-bottom: 10px;
}

.wrapper #welcome .welcome-msg p {
  font-size: 0.85rem;
  color: rgba(255, 255, 255, 0.87);
}

.wrapper #welcome .welcome-msg form {
  margin-top: 1rem;
}

.wrapper #welcome .welcome-msg form input {
  outline: none;
  border: none;
  border-bottom: 1px solid rgba(255, 255, 255, 0.87);
  -webkit-transition: 0.3 ease;
  transition: 0.3 ease;
  background: transparent;
  color: rgba(255, 255, 255, 0.87);
}

.wrapper #welcome .welcome-msg form input::-webkit-input-placeholder {
  color: rgba(255, 255, 255, 0.87);
}

.wrapper #welcome .welcome-msg form input:-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.87);
}

.wrapper #welcome .welcome-msg form input::-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.87);
}

.wrapper #welcome .welcome-msg form input::placeholder {
  color: rgba(255, 255, 255, 0.87);
}

.wrapper #welcome .welcome-msg #err-c-msg {
  margin-top: 10px;
  font-size: 0.85rem;
  color: #fff;
}

.wrapper #weather .weather-card .weather-icon .sun {
  position: absolute;
  top: -2rem;
  right: -2rem;
  background: var(--sun);
  border-radius: 50%;
  height: 9rem;
  width: 9rem;
  position: relative;
  opacity: 0.9;
}

.wrapper #weather .weather-card .weather-icon .sun::before {
  content: '';
  position: absolute;
  top: -1rem;
  left: -1rem;
  height: 11rem;
  width: 11rem;
  border-radius: 50%;
  background: yellow;
  opacity: 0.2;
  -webkit-animation: sunflare 6s linear infinite;
          animation: sunflare 6s linear infinite;
}

.wrapper #weather .weather-card .weather-icon .sun::after {
  content: '';
  position: absolute;
  top: 0rem;
  left: 0rem;
  height: 9rem;
  width: 9rem;
  border-radius: 50%;
  background: yellow;
  opacity: 0.15;
  -webkit-animation: sunflare 6s 6s linear infinite;
          animation: sunflare 6s 6s linear infinite;
}

@-webkit-keyframes sunflare {
  0% {
    top: 0rem;
    left: 0rem;
    height: 9rem;
    width: 9rem;
    opacity: 0.1;
  }
  50% {
    top: -3rem;
    left: -3rem;
    height: 15rem;
    width: 15rem;
    opacity: 0.09;
  }
  85% {
    top: -5.8rem;
    left: -5.8rem;
    height: 20.6rem;
    width: 20.6rem;
    opacity: 0.025;
  }
  100% {
    top: -6rem;
    left: -6rem;
    height: 21rem;
    width: 21rem;
    opacity: 0;
  }
}

@keyframes sunflare {
  0% {
    top: 0rem;
    left: 0rem;
    height: 9rem;
    width: 9rem;
    opacity: 0.1;
  }
  50% {
    top: -3rem;
    left: -3rem;
    height: 15rem;
    width: 15rem;
    opacity: 0.09;
  }
  85% {
    top: -5.8rem;
    left: -5.8rem;
    height: 20.6rem;
    width: 20.6rem;
    opacity: 0.025;
  }
  100% {
    top: -6rem;
    left: -6rem;
    height: 21rem;
    width: 21rem;
    opacity: 0;
  }
}

.wrapper #weather .weather-card .weather-icon .moon {
  position: relative;
  top: 0.5rem;
  right: 1.5rem;
  height: 4rem;
  width: 4rem;
  border-radius: 50%;
  position: relative;
  -webkit-box-shadow: -0.6rem 1rem 0 5px white;
          box-shadow: -0.6rem 1rem 0 5px white;
  -webkit-transform: rotate(275deg);
          transform: rotate(275deg);
}

.spcs {
  background: #5896fd;
}
/*# sourceMappingURL=weather.css.map */